/* Glass TTY VT220 <http://sensi.org/~svo/glasstty/> */
@font-face {
    font-family: VT220;
    src: url("http://sensi.org/~svo/glasstty/Glass_TTY_VT220.ttf") format("truetype");
}

body {
    background-color: black;
    color: greenyellow;
    font-family: VT220;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .success {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background: lightgreen;
    color: black;
    overflow: hidden;
    opacity: 0.75;
    text-align: center;
    line-height: 2.5;
  }
  
  .failure {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    color: black;
    overflow: hidden;
    opacity: 0.75;
    text-align: center;
    line-height: 2.5;
  }